<nav class="navbar navbar-default navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <!-- <a *ngIf=" !router.url.includes('admin') && !router.url.includes('helpdesk') " href="#" class="navbar-brand"> -->
    <a *ngIf="!isLoggedIn()" class="navbar-brand text-white bg-dark">
      <img src="/assets/adminlogo.png" width="30" height="30" alt="">
      Website Administration
    </a>
    <h2 *ngIf="loginService.roleMatch(['Helpdesk'])" class="navbar-brand" href="#">HelpDesk DashBoard</h2>
    <h2 *ngIf="loginService.roleMatch(['Admin'])" class="navbar-brand" href="#">Admin DashBoard</h2>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn()  && loginService.roleMatch(['Admin'])" class="nav-item active">
          <a class="nav-link" (click)=listadminUser()> <i class="fa fa-user" aria-hidden="true"></i>
            Manage Users
          </a>
        </li>
        <li *ngIf="isLoggedIn()  && loginService.roleMatch(['Helpdesk'])" class="nav-item active">
          <a class="nav-link" (click)=listhelpdeskUser()> <i class="fa fa-user" aria-hidden="true"></i>
            Manage Users
          </a>
        </li>

        <li *ngIf="isLoggedIn() && loginService.roleMatch(['Admin'])" class="nav-item active">
          <a class="nav-link" (click)=listadminUserGroup()> <i class="fa fa-users" aria-hidden="true"></i> Manage User
            Groups</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link text-white bg-dark" routerLink="/home"> Home</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link text-white bg-dark" routerLink="/about-us">About Us</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white bg-dark" id="navbardrop" data-toggle="dropdown">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
          </a>
          <div class="dropdown-menu  dropdown-menu-right">

            <a class="dropdown-item" (click)="loginAs(true)"> As Admin</a>

            <a class="dropdown-item" (click)="loginAs(false)">As HelpDesk</a>
          </div>
        </li>

        <!-- <li  *ngIf="!isLoggedIn()"  class="nav-item">
            <a class="nav-link text-white bg-dark" routerLink="/login">  Login</a>
          </li> -->

        <li *ngIf="isLoggedIn()" class="nav-item ">
          <a class="nav-link text-white bg-dark" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>