<footer  class="footer fixed-bottom footer-dark footer-shadow bg-dark text-light">
  <div class="container text-center">
    <small>Copyright &copy; abc.com</small>
    <div class="container text-center">
      <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>&nbsp;&nbsp;
      <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>&nbsp;&nbsp;
      <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>&nbsp;&nbsp;
      <a href="https://gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>&nbsp;&nbsp;
    </div>
  </div>
</footer>



